/* font-family: "Merriweather", serif; */
/* font-family: "Mukta", sans-serif;
font-family: "Open Sans", sans-serif; */

:root {
  --branding-color: #a7d7c5;
  --background-color: #f6fbf4;
  --heading-font-family: "Merriweather", serif;
  --default-font-family: "Open Sans", sans-serif;
}

body {
  margin-bottom: 50px;
  background: var(--background-color);
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  text-align: center;
  color: #212121;
}

p,
footer {
  font-family: var(--default-font-family);
}

h1 {
  margin-top: 80px;
  font-size: 62px;
  font-weight: 800;
}

h2 {
  font-size: 30px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

img {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

p {
  margin: 20px;
  font-size: 15px;
}

footer {
  font-size: 12px;
  text-align: center;
  margin: 20px auto;
}

.hero {
  background: #d7ffdf;
  text-align: center;
  padding: 100px 20px;
}

.btn-branding {
  margin: 5px;
  padding: 10px 30px;
  background: var(--branding-color);
  border: solid 1px #60a9a6;
}

.btn-branding:hover {
  background: var(--branding-color);
  border: solid 2px #60a9a6;
}

.contact-links a {
  margin: 20px;
  color: #007cb9;
  font-size: 18px;
}

.contact-links a:hover {
  color: rgb(94, 94, 247);
}

.footer-my-name {
  color: #00aaa0;
}

.github-link,
.netlify-link {
  color: #007cb9;
}

@media (max-width: 600px) {
  h1 {
    font-size: 50px;
  }
}
