/* font-family: "Merriweather", serif; */
/* font-family: "Mukta", sans-serif;
font-family: "Open Sans", sans-serif; */

:root {
  --branding-color: #a7d7c5;
  --background-color: #f6fbf4;
  --heading-font-family: "Merriweather", serif;
  --default-font-family: "Open Sans", sans-serif;
}

body {
  margin-bottom: 50px;
  background: var(--background-color);
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: #212121;
}

p,
footer {
  font-family: var(--default-font-family);
}

h1 {
  margin-top: 80px;
  font-size: 68px;
  font-weight: 800;
  text-align: center;
}

h2 {
  font-size: 62px;
  font-weight: 600;
  text-align: center;
}

h3 {
  font-size: 40px;
  font-weight: 600;
}

h4 {
  font-size: 30px;
  font-weight: 600;
}

img {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

p {
  margin: 15px 20px;
  font-size: 15px;
  line-height: 30px;
}

footer {
  font-size: 12px;
  text-align: center;
  margin: 20px auto;
}

.hero {
  background: #d7ffdf;
  text-align: center;
  padding: 100px 20px;
}

.hero-not-homepage {
  background: #d7ffdf;
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
}

.my-occupation {
  font-size: 20px;
  opacity: 70%;
}

.btn-branding {
  margin: 5px;
  padding: 10px 30px;
  background: var(--branding-color);
  border: 1px solid #60a9a6;
  border-radius: 4px;
}

.btn-branding:hover {
  background: var(--branding-color);
  border: 2px solid #60a9a6;
  border-radius: 4px;
}

.btn-branding-outline {
  margin: 5px 10px;
  padding: 5px 25px;
  background: var(--branding-color);
  border: 1px solid #60a9a6;
  border-radius: 4px;
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  border: 2px solid #60a9a6;
  border-radius: 4px;
}

.homepage-project-pics {
  display: block;
  margin: 30px auto;
  padding: 4px;
}

.project-description {
  padding: 80px 0px;
}

.contact-links a {
  margin: 20px;
  color: #007cb9;
  font-size: 18px;
}

.contact-links a:hover {
  color: rgb(94, 94, 247);
}

.footer-my-name {
  color: #00aaa0;
}

.github-link,
.netlify-link {
  color: #007cb9;
}

@media (max-width: 800px) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  .hero {
    padding: 50px 10px;
  }
  .my-occupation {
    font-size: 15px;
  }
  .project-description {
    margin-top: 30px;
    padding: 0;
    text-align: center;
  }
}
